.app {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 100vw;
    background-color: #f8f9fa;
}

.loading-page {
    height: 100vh;
    background-color: whitesmoke;
    padding-top: 25vh;
}

.navbar-brand, .loading-title {
    font-family: 'Gloock', serif;
}

.nav-item a{
    color: rgb(158, 158, 158);
}

.nav-item:hover {
    text-decoration: underline;
}

.d-block {
    height: 500px;
    position: relative;
}

.d-block:hover {
    cursor: pointer;
}

